$dark: #222222;

$primaryButton: transparent linear-gradient(257deg, #1dd1a1 0%, #10ac84 100%) 0%
  0%;

$disabledButton: transparent linear-gradient(236deg, #b9b9b9 0, #9f9f9f 100%) 0
  0 no-repeat;

$white: #ffffff;

$green: #10ac84;
$danger: #ff0000;

$inputBg: #f1f2f6;
